.jumbotron {
  padding-top: 6rem;
  background-color: #449af1;
}
#gallery {
  background-color: #449af1;
}
#skill {
  background-color: #449af1;
}
#contact {
  background-color: #449af1;
}
section {
  padding-top: 5rem;
}
